.table-container{
    display: flex;
    justify-content: center;
}

.table-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px
}

.table{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.table h1{
    font-size: 16px;
    width: 150px;
}

.table img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.csymbol{
    text-transform: uppercase;
}

.cdata{
    display: flex;
    text-align:center;
    justify-content: space-between;
    width: 100%; 
}

.cprice{
    width: 110px;
}

.cvolume{
    width: 155px;
}

.cmarketcap{
    width: 230px;
}

/* .cpercent{
    width: 100%;
} */

.red{
    color:#f00606; 
}

.green{
    color:#11d811;
}